<style>
body {
background-color: #CDCDCD;
}

h1 { 
color: black;
text-align: center;
}

h3 { 
color: #545454;
text-align: center
}

h5 {
color: black;
text-decoration: italic;
}

h6 {
color: black;
}

</style>
