 <style>
body {
background-color: #FFFFFF
  min-height: 100%;
}

h1 { 
color: black;
text-align: center;
}

h3 { 
color: #545454;
 text-align: center;
}

h5 {
color: black;
 font-style: italic;
text-align: center;
}

h6 {
 font-size: 14px;
color: black;
}

 td {
 padding:30px;
 }
 
 html {
  height: 100%;
  } 

  
 .footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  font-style: bold;
  text-align: center;
  color: #FFFFFF;
}
   </style>
